/* Polices */

@font-face {
	font-family: 'Amaranth';
	src:url('polices/amaranth/Amaranth-Bold.otf'),

}


@font-face{
	font-family: 'Redressed';
    src: url('polices/redressed_regular_macroman/Redressed-webfont.eot') format('eot'),
         url('polices/redressed_regular_macroman/Redressed-webfont.woff') format('woff'),
         url('polices/redressed_regular_macroman/Redressed-webfont.ttf') format('truetype'),
         url('polices/redressed_regular_macroman/Redressed-webfont.svg') format('svg');
}


@font-face{
	font-family: 'junebug';
    src: url('polices/junebug_regular_macroman/junebug-webfont.eot') format('eot'),
         url('polices/junebug_regular_macroman/junebug-webfont.woff') format('woff'),
         url('polices/junebug_regular_macroman/junebug-webfont.ttf') format('truetype'),
         url('polices/junebug_regular_macroman/junebug-webfont.svg') format('svg');
}

/*BUTTONS*/
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-circle.btn-xxl {
  width: 150px;
  height: 150px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 75px;
}

body{
	/*Background gradient*/
	background: rgb(136,191,232); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(136,191,232,1) 0%, rgba(182,222,249,1) 19%, rgba(214,239,252,1) 36%, rgba(255,255,255,1) 65%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(136,191,232,1)), color-stop(19%,rgba(182,222,249,1)), color-stop(36%,rgba(214,239,252,1)), color-stop(65%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(136,191,232,1) 0%,rgba(182,222,249,1) 19%,rgba(214,239,252,1) 36%,rgba(255,255,255,1) 65%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(136,191,232,1) 0%,rgba(182,222,249,1) 19%,rgba(214,239,252,1) 36%,rgba(255,255,255,1) 65%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(136,191,232,1) 0%,rgba(182,222,249,1) 19%,rgba(214,239,252,1) 36%,rgba(255,255,255,1) 65%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(136,191,232,1) 0%,rgba(182,222,249,1) 19%,rgba(214,239,252,1) 36%,rgba(255,255,255,1) 65%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88bfe8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top:55px;
}

#title{
	font-family:'Redressed';
	font-size:40px;
	color: rgba(136,191,232,1);
}
/*NAVBAR CUSTOM*/
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    bottom:8px;
    text-align: center;
    margin: auto;
}
/*Vertical Divider*/
.navbar .divider-vertical {
height: 50px;
margin: 0 9px;
border-right: 1px solid #ffffff;
border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
border-right-color: #222222;
border-left-color: #111111;
}



/* INDEX PANEL */

.panel-scroll {
    max-height: 200px;
	overflow: hidden;
	overflow-y: auto;
  }

.panel a:hover {
 text-decoration:none;
 color:#222;
}

.panel .table td {
 border-color: #f3f3f3;
}

.icons {
  border-left: 1px solid #C7D5E2;
  padding-top:20px;
}


/*INDEX*/

.post-content {
	background: none repeat scroll 0 0 #FFFFFF;
	opacity:0.7;
    top:5px;
    left:5px;
    position: absolute;
}

.onglet{
    position:relative;
}


/*PATIENTS*/

.panel-patient{
	padding-top:10px;
	height:550px;
}

.panel-scroll-patient {
    max-height: 450px;
	overflow: hidden;
	overflow-y: auto;
  }

.panel a:hover {
 text-decoration:none;
 color:#222;
}

.panel-id{
	height:642px;
}

*/
/*@MEDIA*/
@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
}

	